*{margin: 0;padding: 0;}
body {
  font-size: 1em;
  font-family: 'Open Sans','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #e6e6e6;
}
/* layout */
#area-cabecalho {
  background-color: white;
  padding: 15px;
  text-align: center;
  border-bottom: 6px solid #F33F3F;
}
#logo, #menu {
  padding: 10px;
}
a {text-decoration: none;}

a:link, a:visited {
  color: #F33F3F;
}
a:hover {
   text-decoration: underline;
}
/* formatacao menu */
#area-cabecalho a:link, #area-cabecalho a:visited {
  color: #888;
  padding: 8px 12px;
}

#area-cabecalho a:hover {
    color: #F33F3F;
    background: #929191;
    text-decoration: none;
}

/* formatacao geral */
h1{
  color: #4e4e4e;
  font-size: 2.5em;
}

h2{color: #f7b600;}

.data-postagem{
  font-size: 0.8em;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: block;
}

/* .cor-logo {
  color: #F33F3F;
} */

#area-principal {
    width: auto;
    margin: 0 auto;
     /* margin-top: 10px; */
    padding: 10px;
}

.area-produto {
    width: auto;
    margin: 0 auto;
    padding: 10px;
}

.area-produto img{
    max-width:600px;
    max-height:450px;
    width: auto;
    height: auto;
    margin-bottom: 10px;
}

.area-produto a{
  color: #FFF;
  background: #F33F3F;
  text-align: center;
  border: none;
  margin: 50px;

}
#produto-1{
  width: 640px;
  /* height: 200px; */
  /* background-color: rgb(209, 26, 26); */
  float: left;
  margin-bottom: 10px;
  /* display: flex; */
}

#produto-2{
  width: 660px;
  /* height: 200px; */
  /* background-color: rgb(14, 207, 120); */
  float: right;
  margin-bottom: 10px;
  /* display: flex; */
}

#rodape {
  clear: both;
  background: #333;
  border-top: 6px solid #F33F3F;
  border-bottom: 1px solid #111;
  padding: 15px 10px;
  color: white;
  display: flex;
  justify-content: space-around;
}

#rodape-left {
    float: left;
    width: 44%;
    /* background-color: red; */
}
#rodape-right {
    float: right;
    width: 44%;
    /* background-color: red; */
}

.postagem {
  padding: 20px;
  margin-bottom: 20px;
  background: white;
}

#logo img {
    width: auto;
    max-height: 50px;
    display: block;
    margin: 0 auto;
    float: left;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

#rodape h3 {
    /* color: #EEE; */
    color: #AAA;
    font-size: 0.8em;
    text-transform: uppercase;
    padding-bottom: 8px;
    margin: 10px 0px 15px;
    border-bottom: 1px solid #222;
    -webkit-box-shadow: 0 1px 0 0 #444;
    -moz-box-shadow: 0 1px 0 0 #444;
    -ms-box-shadow: 0 1px 0 0 #444;
    -o-box-shadow: 0 1px 0 0 #444;
    box-shadow: 0 1px 0 0 #444;
}

ul {
    list-style-type: none;
    font-size: 0.8em;
     color: #AAA;
}

.whatsapp {
    width: 40px;
    /* float: left; */
    margin-right: 8px;
    display: inline-block;
}
#whats{
  float: right;
  margin-top: -20px;
  border-radius: 10px;
}

#whats span{
  float: inherit;
}

.btn{
   line-height: 60px;
   padding: 0 75px;
   /* background-color: #35BE45; */
   font-weight: bold;
   display: inline-block;
   border-radius: 30px;
   margin-top: 30px;
   text-decoration: inherit;

}
.btn:hover {
    background-color: #929191;
    color: white;
    text-decoration: inherit;
}